# Build Output
dist-ssr
**/dist/
.turbo
packages/ui/styled-system/*
styled-system
styled-system-static
panda
panda-static
outdir
ts-import-map-outdir

# Dependencies
node_modules
.pnpm-store/
.yalc/*



# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*storybook.log

# Environment
*.local
*.env

# IDE and Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
